---
Checks: |
 clang-diagnostic-*,
 clang-analyzer-*,
 bugprone-*,
 -bugprone-unchecked-optional-access,
 -bugprone-easily-swappable-parameters,
 readability-inconsistent-declaration-parameter-name,
 -google-default-arguments,
 -llvmlibc-*
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: 'id'
